body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0f0f0;
}

#gameArea {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #87CEEB; /* Cor de fundo do céu */
}

#catcher {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100px;
    height: 20px;
    background-color: #ff6347; /* Cor do catcher (tomate) */
    border-radius: 10px;
    transform: translateX(-50%);
}

#ball {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #ffcc00; /* Cor da bola */
    border-radius: 50%;
}
